.enrollmentsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.enrollmentsContainer h1 {
    margin: 10px;
    text-align: center;
}

.enrolled-courses-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.courseCard {
    margin: 10px;
}

.no-enrollments {
    color: #777777;
    font-style: italic;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
    flex-grow: 1;
}

.no-enrollments h1 {
    font-style: italic;
    color: #777777;
}
