.enrollmentsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.enrollmentsContainer h1 {
    margin: 10px;
    text-align: center;
}

.enrolled-courses-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.courseCard {
    margin: 10px;
}

.no-enrollments {
    color: #777777;
    font-style: italic;
    margin-bottom: 20px;
    margin-top: 300px;
    text-align: center;
}

.no-enrollments h2 {
    font-style: italic;
    color: #555;
}
