.create-course-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: var(--bg-secondary-color);
    color: var(--text-color);
    border-radius: 10px;
    margin-top: 80px;
}

.create-course-title {
    font-size: 2em;
    margin-bottom: 20px;
}

.course-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: var(--bg-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.course-item label {
    font-weight: bold;
}

.course-item input,
.course-item textarea {
}

.course-item input, .course-item textarea {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.create-course-buttons {
    display: flex;
    gap: 25px;
    justify-content: center;
    width: 100%;
}

@media (max-width: 768px) {
    .create-course-container {
        width: 90%;
    }
}