.cookie-consent {
    position: fixed;
    width: 900px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-color);
    padding: 50px;
    text-align: start;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.cookie-consent button {
    margin-right: 20px;
    margin-top: 20px;
    padding: 10px 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

+
#about {
    border: 1px solid #333333;
    color: var(--bg-secondary-color);
}

#about:hover {
    cursor: help;
    background: #000000;
    color: #fff;
}

@media (max-width: 768px) {
    .cookie-consent {
        width: 90%;
        padding: 20px;
    }

    .cookie-consent h2 {
        font-size: 20px;
    }

    .cookie-consent p {
        font-size: 16px;
    }

    .cookie-consent button {
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }
}