/* frontend/src/pages/Cart/Cart.css */

.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* This will center items vertically */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 60px;
}

.cart-empty {
    font-size: 2em;
    color: #777777;
    font-style: italic;
    margin-bottom: 20px;
    margin-top: 300px;
    text-align: center; /* This will center the text horizontally */
}

.cart-title {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.cart-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.cart-items {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cart-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    padding: 10px;
    gap: 10px;
}

.cart-info {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-button-remove-item {
    background-color: #ff0000;
}

.cart-button-checkout {
    background-color: #1f831f;
}