.category-card {
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    border-radius: 5px;
    margin: 10px;
    background-color: var(--bg-secondary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.category-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.category-card img {
    border-radius: 5px 0 0 5px;
    width: 150px;
}

.category-card-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}