.category-card {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.category-card:hover {
    border: 1px solid #007bff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transform: translateY(-5px);

}

.category-card img {
    border-radius: 5px 0 0 5px;
    width: 150px;
}

.category-card-text {
    padding: 10px;
}