.feedback-card {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    transition: 0.3s;
}

.feedback-card:hover {
    box-shadow: 0 0 10px #007bff;
    border-radius: 10px;
    cursor: pointer;
}

.feedback-card-text {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.feedback-card img {
    width: 250px;
    border-radius: 30px;
}