.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.profile {
    display: grid;
    grid-template-columns: 25% 75%;
    width: 75%;
    border: 2px solid var(--text-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.profile-info {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
    border-right: 2px solid var(--text-color);
    padding: 20px;
    height: 100%;
}

.profile-info button {
    color: white;
}

.profile-settings {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.profile-settings-buttons {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.profile-settings-buttons button {
    width: 25%;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.edit-profile-button {
    background-color: var(--special-button-background);
    color: var(--special-button-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.edit-profile-button:hover {
    background-color: #222;
}

.reset-password-button {
    background-color: darkgoldenrod;
    color: var(--special-button-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.delete-account-button {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.delete-account-button:hover {
    background-color: #a71d2a;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    border-radius: 5px;
    background-color: var(--bg-color);
    margin: 15% auto;
    padding: 20px;
    width: 50%;
}

.modal-content h1 {
    text-align: center;
}

.modal-content form {
    width: 50%;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--text-color);
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .profile {
        grid-template-columns: 100%;
        width: 90%;
        height: auto;
    }

    .profile-info {
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .profile-settings button {
        width: 100%;
    }
}