.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 50px;
}

.profile {
    display: grid;
    grid-template-columns: 25% 75%;
    width: 75%;
    border: 2px solid #dddddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    height: 600px;
}

.profile-info {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
    border-right: 2px solid #dddddd;
    padding: 20px;
    height: 100%;
}

.profile-settings {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.profile-settings-buttons {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.profile-settings-buttons button {
    width: 25%;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}