:root {
    --bg-color: white;
    --bg-secondary-color: #f1f1f1;
    --text-color: #111;
    --default-button-background: #444;
    --default-button-background-hover: #222;
    --default-button-color: #f1f1f1;
    --special-button-background: #007bff;
    --special-button-background-hover: #222;
    --special-button-color: #f1f1f1;
}

[data-theme="dark"] {
    --bg-color: #444;
    --bg-secondary-color: #333;
    --text-color: #f1f1f1;
    --default-button-background: #fff;
    --default-button-background-hover: #ccc;
    --default-button-color: #111;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.layout {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.main-wrapper {
    min-height: 100vh;
    margin-top: 20px;
    padding-bottom: 80px;
    padding-top: 80px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    margin: 20px auto;
    text-align: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    padding: 40px;
}

form hr {
    border: none;
    border-top: 1px solid #ccc;
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 100%;
}

form textarea {
    resize: none;
}

input {
    font-size: 1.1em;
    outline: none;
    background: none;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    color: var(--text-color);
}

select {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    font-size: 1.1em;
    outline: none;
    margin-bottom: 20px;
    padding: 10px;
    background: none;
    border: none;
    border-bottom: 1px solid #ccc;
    color: var(--text-color);
}

button {
    outline: none;
    font-size: 1.1em;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--default-button-background);
    color: var(--default-button-color);
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--default-button-background-hover);
}

#signup-link {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

#signup-link:hover {
    background-color: #ccc;
    color: #000;
}