.create-lesson-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 75%;
    height: 100%;
    background-color: var(--bg-secondary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-lesson-title {
    font-size: 2em;
}

.lesson-item {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 25px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.content-block {
    width: 100%;
    gap: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.quill-editor {
    background-color: var(--bg-secondary-color);
    height: 300px;
    width: 500px;
    object-fit: cover;
    margin-bottom: 50px;
}

.quill-editor .ql-toolbar {
    background-color: white;
    border-radius: 5px;
}

.lesson-item label {
    font-weight: bold;
}

.lesson-item input {
    margin-bottom: 10px;
}

.create-lesson-button {
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .create-lesson-container {
        width: 90%;
    }
}