.theme-switcher-button {
    border-radius: 0.25rem;
    cursor: pointer;
    height: 50px;
    width: 50px;
}

.theme-switcher-button.dark {
    background-color: black;
    color: white;
}

.theme-switcher-button.dark:hover {
    background-color: #222;
}

.theme-switcher-button.light {
    background-color: white;
    color: black;
}

.theme-switcher-button.light:hover {
    background-color: #cacaca;
}