.courses-container {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.courses-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.main-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    gap: 50px;
}


.filter {
    width: 400px;
}